* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
:root {
  --main-bg-color: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.2);
  --box-shadow-color: rgba(0, 0, 0, 0.2);
  --text-color: white;
  --button-bg-color22: rgb(55, 182, 123);
  --button-bg-color11: rgb(2, 235, 126);
  --link-color11: rgba(0, 151, 13, 0.89);
  --link-color22: rgba(0, 85, 7, 0.89);
  --link-hover1-color: rgba(0, 238, 255, 0.89);
  --link-hover2-color: rgba(0, 152, 163, 0.89);
  --body-color: rgb(45, 136, 131);
  --complement-color1: rgb(255, 173, 51); /* Extra colors if need */
  --complement-color2: rgb(107, 142, 35); /* Extra colors if need */
  --accent-color: rgb(214, 68, 98); /* Extra colors if need */
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../Assets/images/signupBack.jpg") no-repeat !important;
  background-size: cover;
  background-position: center;
} */
.bodySign{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../../Assets/images/signupBack.jpg") no-repeat !important;
  background-size: cover;
  background-position: center;
}
.wrapperlog {
  width: 550px !important;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  color: white;
  padding: 40px 35px 55px;
  margin: 0px 20px;
}
.wrapperlog h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
.wrapperlog .input-boxlog {
  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;
}
.input-boxlog .input-field {
  position: relative;
  width: 100% !important;
  height: 50px;
  margin: 13px 0;
}
.input-boxlog .input-field input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 16px;
  color: white;
  border-radius: 8px;
  padding: 15px 15px 15px 40px;
}

.input-boxlog .input-field i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 20px;
}
.wrapperlog .btnR {
  width: 100%;
  height: 45px;
  background: rgb(2, 235, 126);
  outline: none;
  border-radius: 10px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  font-weight: 600;
  margin-top: 20px;
}
.wrapperlog label {
  font-size: 15px;
  display: inline-block;
  margin: 10px 0 0px;
}
.wrapperlog label .link {
  color: rgba(0, 151, 13, 0.89) !important;
  text-decoration: none;
}
.wrapperlog label .link:hover {
  color: rgba(0, 238, 255, 0.89) !important;
  text-decoration: none;
}
/* !forget password-------------------------------- */
.wrapperlog .labelforget {
  font-size: 15px;
  display: inline-block;
  margin: 10px 0 0px;
  display: flex;
  justify-content: flex-end;
}
.wrapperlog label .linkforget {
  color: rgba(0, 151, 13, 0.89) !important;
  text-decoration: none;
}
.wrapperlog label .linkforget:hover {
  color: rgba(0, 238, 255, 0.89) !important;
  text-decoration: none;
}
@media (max-width: 576px) {
  .input-box .input-field {
    width: 100%;
    margin: 10px 0;
  }
}
#messageSignIN {
  color: rgba(0, 152, 163, 0.89);
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin: 10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#forgetmessage{
text-align: center;
margin-bottom: 10px;
color: rgb(214, 68, 98);
}