:root {
  --color-blue-dark: #0f42b6;
  --color-blue-light: #074cea;
  --color-navy: #193167;
  --color-charcoal: #111b30;
  --color-black: #0b0e16;
  --color-indigo: #1d216b;
  --color-royal: #0914eb;
  --color-sapphire: #151dbb;
  --color-midnight: #131532;
  --color-onyx: #0b0c17;
  --color-sky: #074bea;
  --color-slate: #153f64;
  --color-cerulean: #047ce8;
  --color-cobalt: #0a62b1;
  --color-steel: #10202f;
  --color-jet: #0a1015;
  --color-deep-blue: #032f95;
  --color-midnight-blue: #062262;
  --color-dark-indigo: #05153b;
  --color-ocean-blue: #02598d;
  --color-cerulean-blue: #0080cc;
  --color-sky-blue: #007cc6;
  --color-navy-blue: #033c5d;
  --color-navy: #022438;
  --color-midnight-blue-2: #062262;
  --color-blue: #003fd0;
  --color-blue-2: #003dcb;
  --baby-blue: #00e2e2;
  --text-color: white;
  --accent-color: rgb(214, 68, 98);
  --color-burgundy: #7a0006;
  --color-crimson: #a10008;
  --color-maroon: #450003;
  --color-scarlet: #a50008;
}

.buttonAddUser {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 2px solid var(--baby-blue);
  box-shadow: 4px 4px var(--baby-blue);
  background-color: var(--color-midnight-blue-2);
  border-radius: 10px;
  overflow: hidden;
}

.buttonAddUser,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.buttonAddUser .button__text {
  transform: translateX(25px);
  color: var(--text-color);
  font-weight: 600;
}

.buttonAddUser .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--color-blue-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.buttonAddUser:hover {
  background: var(--bg-color);
}

.buttonAddUser:hover .button__text {
  color: transparent;
}

.buttonAddUser:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}
.Updatebtn {
  padding: 8px;
  border: 2px solid var(--body-color-blue);
  border-radius: 50%;
  background-color: var(--color-deep-blue);
  cursor: pointer;
  margin-right: 8px;
  color: white;
}
.Updatebtn:hover {
  background-color: var(--color-blue-dark);
  border: 3px solid var(--baby-blue);
  transform: scale(1.1);
}
.DeleteBtn {
  padding: 8px;
  border: 2px solid var(--body-color-blue);
  border-radius: 50%;
  background-color: var(--color-dark-indigo);
  cursor: pointer;
  margin-right: 8px;
  align-items: center;
  text-align: center;
  color: white;
}
.DeleteBtn:hover {
  background-color: var(--color-maroon);
  border: 3px solid var(--box-shadow-color);
  transform: scale(1.1);
}
/* ! inputs add form --------------------------- */

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 750px;
  background-color: var(--color-midnight-blue);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
}

.title {
  font-size: 28px;
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: var(--baby-blue) !important;
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: var(--color-royal) !important;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message,
.signin {
  color: var(--baby-blue) !important;
  font-size: 14px;
}

.fexIn {
  display: flex !important;
  width: 100% !important;

  gap: 6px;
}
.fexIn label {
  width: 100% !important;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}
label select {
  border: solid 3px var(--baby-blue);
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 210px !important;
}
label select option {
  background-color: var(--color-sky-blue);
}
label select option:checked {
  background-color: var(--color-ocean-blue);
}
.submit,
.Cancelbtn {
  border: none;
  outline: none;
  background-color: var(--color-cobalt) !important;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  padding: 12px;
  margin-right: 10px;
}
.Cancelbtn {
  background-color: var(--color-dark-indigo) !important;
}
.submit:hover {
  background-color: var();
}
.messageadduser {
  text-align: center;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
/* ! delete form-------------------------------- */
/* The Modal (background) */
.modalC {
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */

  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
  text-align: center;
}

/* Modal Content/Box */
.modal-contentC {
  background-color: var(--color-navy-blue);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid var(--baby-blue);
  width: 50%; /* Could be more or less, depending on screen size */
  border-radius: 30px;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.confD {
  margin: 20px;
}
.confD i {
  color: var(--accent-color);
  font-size: 35px;
  /* margin: 10px !important; */
}
.confD p {
  font-size: 20px;
  margin: 20px;
}
.confD button:hover {
  border: 2px solid black;
}
/* todo end delete form-------------------------------- */
/* ! loader ------------------------------------------- */
.loadS {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Set height to fill parent container */
}
.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: var(--color-cerulean-blue);
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}
